
.board{
  text-align: center;
}

.card{
  font-size: 15px;
  padding: 15px;
  height: 150px;
  width: 150px;
  border-radius: 25px;
  background-color: gray;
  margin: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "helvetica";
}

.question{
  background-color: #202020;
}

.answer{
  background-color: #787878;
}

.selected{
  border-color: #FFFFFF;
  border-width: 10px;
  border-style: dotted;
}

.matched{
  opacity: 0.25;
}

#message{
  text-align: center;
  text-color: red;
  text-size: medium;
  height: 60px;
}

#nav{
  text-align:center;
}
