
.board{
  text-align: center;
}

.card{
  font-size: 15px;
  padding: 15px;
  height: 150px;
  width: 150px;
  border-radius: 25px;
  background-color: gray;
  margin: 5px;
  border-color: black;
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "helvetica";
}

.question{
  background-color: #202020;
}

.answer{
  background-color: #787878;
}
