extends layout

block content
  .well
    h1 About
    p.lead GamEdu is part of a project for the Instituto Pedagógico Miguel De Zubiría. This site allows teachers to create games out of their course content by selecting a game framework and submitting questions. Students are then able to play games that have been published by their teachers.
    h1 Contact
    p.lead If you have any questions, feedback, or errors to report, please email mjwang@alum.mit.edu.
