extends layout

block content
  form(role="form" action=("/edit_game/" + gid)  method="POST")
    .form-group
      label(for="game_name") Name of Game
      input(type="name" class="form-control" name="name" id="game_name" value=gname) 
    .form-group
      label(for="game_subject") Subject
      input(type="subject" class="form-control" name="subject" id="game_subject" value=gsubject)
    .form-group
      label(for="game_type") Game Type
      select.form-control(id="game_type" name="type")
        option Matching
    .form-group
      label(for="game_desc") Description & Instructions
      textarea.form-control(rows="3" name="desc" id="game_desc") #{gdesc}
    button(type="submit" class="btn btn-success") Save
    a(href=("/view_game/" + gid) class="btn btn-default") Cancel

