extends layout

block content
  .jumbotron
    h1 Welcome to GamEdu
    p.lead You can either go ahead and start playing games or log in as a teacher to create games for your students! 
    p: a.btn.btn-lg.btn-block.btn-success(href="/dashboard") Play Games 
    p: a.btn.btn-lg.btn-block.btn-primary(href="/login") Login 

