extends layout

block content

  h2 #{gname}
  small #{gsubject}

  p #{gdesc}

  h3 Questions
  #questions
  if questions.length === 0
    p No questions yet!
  else
    for question in questions
      h4 = question.question
      .answer = question.answer 

  button(class="btn btn-primary") Add Question
  
