doctype html
html
  head
    link(rel="shortcut icon" href="../../assets/ico/favicon.ico")

    title GamEdu | View Game

    // Bootstrap core CSS
    link(href="./../css/bootstrap.min.css" rel="stylesheet")

    // Custom styles for this template
    link(href="./../css/jumbotron-narrow.css" rel="stylesheet")

  body

    .container
      .header
        ul(class="nav nav-pills pull-right")
          li.active
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/logout") Logout
        
        h3.text-muted View Game Information 

      h2 Name of Game: #{gname} 
   
      .footer
        p &copy; MIT D-Lab 2014

